<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
	<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/header}"></th:block>
    <main class="mt-3">
    	<div class="d-inline bg-success" th:text="${msg}"></div>
        <h1 class="text-center text-dark">Shopping Cart</h1>
        <hr class="hr-2 bg-dark w-75">
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-2 text-center">Image</th>
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Description</th>
                <th class="col-md-2 text-center">Price</th>
                <th class="col-md-1 text-center">Quantity</th>
                <th class="col-md-2 text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
                <tr class="row mx-auto" th:each="order, iter: ${orders}">	
                    <th class="col-md-2 text-center"><img th:src="${order.product.imageUrl}" alt="Product" height="120" width="120"></th>
                    <td class="col-md-3 text-center">[[${order.product.name}]]</td>
                    <td class="col-md-2 text-center">[[${order.product.description}]]</td>
                    <td class="col-md-2 text-center">[[${order.totalPrice}]]</td>
                    <td class="col-md-1 text-center">[[${order.quantity}]]</td>
                    <td class="col-md-2 text-center">
                        <form th:action="@{/cart/remove/} + ${order.id}" method="post">
                            <div class="button-holder d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger">Remove</button>
                                 <a class="btn btn-success ml-1" th:href="@{/orders/view/} + ${order.id}">Details</a>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
        <div class="text-center">
            <h3 th:text="'Total: ' + ${#numbers.formatDecimal(totalCost, 1, 'COMMA', 2, 'POINT')}"></h3>
        </div>
        <form action="/cart/checkout" method="post">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Checkout</button>
            </div>
        </form>
    </main>
   <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>