<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
	<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/header}"></th:block>	
    <main class="mt-3">
        <h1 class="text-center text-dark">Add Category</h1>
        <hr class="hr-2 bg-dark w-25">
        <form id="add-category-form" class="form w-25 mx-auto" th:action="@{/categories/add}" method="post" th:object="${addCategory}">
            <div class="form-group">
                <label for="add-category-name" class="font-weight-bold">Name</label>
                <ul th:if="${#fields.hasErrors('category')}">  
					<li th:each="error : ${#fields.errors('category')}" th:text="${error}" style="color:red"></li>
				</ul>
                <input type="text" class="form-control text-center" id="add-category-name" name="name" th:field=*{category}>
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Add Category</button>
            </div>
        </form>
    </main>
</div>
 <th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>