<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
	<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/header}"></th:block>
    <main class="mt-3">
        <h1 class="text-center text-dark">Edit Category</h1>
        <hr class="hr-2 bg-dark w-25">
        <form id="edit-category-form" class="form w-25 mx-auto" th:action="@{/categories/edit/} + ${cat.id}" method="post">
                <label for="edit-category-name" class="font-weight-bold">Name</label>
                <div th:text="${error}" style="color: red"></div>
                 <div th:text="${edited}" style="color: green;"></div>
                <input type="text" class="form-control text-center" id="edit-category-name" name="name" th:value="${cat.category}">
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
            	<a class="btn btn-info mr-1" href="/categories/all">Back</a>
                <button type="submit" class="btn btn-info">Edit Category</button>
            </div>
        </form>
    </main>
   <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>