<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
	<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/header}"></th:block>

    <main class="mt-3">
        <div class="jumbotron bg-light">
            <div class="text-center">
                <img th:src="${product.imageUrl}" width="350" height="350" alt="Product">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h1>Name: [[${product.name}]]</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4>Description: [[${product.description}]]</h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4>Price: [[${product.price}]]</h4>
                </div>
            </div>
             <div class="row">
             	 <div class="col col-md-12 text-center">
		       		<form th:action="@{/orders/details/} + ${product.id}" method="get">
		       			<button type="submit" class="btn btn-success">Order Product</button>
		       		</form>
       			</div>
       		</div>
        </div>
    </main>
  <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>