<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
	<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/header}"></th:block>
    <main class="mt-3">
        <div class="row d-flex justify-content-between">
            <div class="products-navigation col-md-3">
                <h2 class="font-weight-bold">Navigation</h2>
                <form class="mt-3" id="categories">
                 	
                </form>
            </div>
            <div class="data col-md-8">
            <div class="pagination justify-content-center mb-1">
		       <select name="productsPerPage" id="productsPerPage" class="page-link mr-1" onchange="setDefaultProductsPerPage()">
					
			   </select>
			   <select name="sortBy" id="sortBy" class="page-link" onchange="setDefaultSortation()">
					
			   </select>
	  		</div>
                <h1 class="text-center font-weight-bold">Products</h1>
                <div class="products-data">
                	<div class="products-row row d-flex justify-content-around mt-5" id="products">
                		
                	</div>	
           		</div>
           		<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Previous" id="previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    <li class="page-item"><a class="page-link" href="#" id="one">1</a></li>
			    <li class="page-item"><a class="page-link" href="#" id="two">2</a></li>
			    <li class="page-item"><a class="page-link" href="#" id="three">3</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Next" id="next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
        	</div>
        </div>
    </main>
   <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
<script type="text/javascript" src="/js/homeProducts.js"></script>
<script type="text/javascript" src="/js/loadItemsPerPageAndSortation.js"></script>
<script type="text/javascript" src="/js/loadCategories.js"></script>

</html>

